<html>

<head>
    <meta charset="utf-8">
    <title>Fill input fields</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // clear db on page load
            $.get("clearDB")
            var n_fields = 10;                          // allowed number of inputs
            var form = $(".input_form");                // form with fields
            var add_button = $("#add_field_button");    // add button
            var text_area = $(".output")                // output text area
            
            var num = 1;                                // initlal text box num

            $(add_button).click(function(e){            // on add input button click
                e.preventDefault();
                if (num <= n_fields){
                    // field value
                    var name = "field_" + num;          // field name like 'field_1'
                    var id = "input[name=" + name + "]";
                    var value = $(id).val();            // value of input field

                    // dict for send to server
                    var field = {};
                    field[name] = value;
                    // var fieldData = JSON.stringify(field, null, '\t');

                    // send data to script
                    // $.post("script", fieldData);
                    $.post("script", field);

                    num++;

                    // if it was last allowed field, disable button "Add field" and stop script
                    if (num == n_fields+1) {
                        $("#add_field_button").attr("disabled","disabled");
                        return false;
                    }

                    // add new input field
                    var new_field = '<div><input type="text" name="field_' + num + '"/></div>';
                    $(form).append(new_field);
                }
            });
        });
    </script>
</head>

<body>

    <div class="input_form">
        <button id="add_field_button">Add field</button>
        <div><input type="text" name="field_1"></div>
    </div>
    <div><a href="output">Output</a></div>

</body>
</html>

